body,html{
  margin:10px;
  padding:0;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 100%;
}

.btn-sec{
  display: flex;
  gap: 10px;
}

.heading{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchbtn{
  background-color: aqua;
  color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.degreebtn{
  background-color: aqua;
  color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.place{
  font-size: 3vw;
}
