.nowdetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dateandtime{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.weather{
    display: flex;
    flex-direction: column;
}

.bigweather{
    font-weight: 800;
    font-size: 3.75rem;
}

.small-weather-container{
    display: flex;
    gap: 65px;
}

.smallweather1,.smallweather2{
    display: flex;
    align-items: center;
    font-size: 90%;
}

.weather-details1{
    display: flex;
    gap: 16rem;
    align-items: center;
}

@media  screen and (max-width:700px) {
    .weather-details1{
        gap: 3rem;
    }
}